# services:
  # backend:

  # gateway:

  # mongo:
version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: dev-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile.dev
    container_name: dev-backend
    environment:
      MONGO_URI: ${MONGO_URI}
      MONGO_DATABASE: ${MONGO_DATABASE}
    depends_on:
      - mongo
    networks:
      - private

  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile.dev
    container_name: dev-gateway
    environment:
      BACKEND_URL: http://backend:${BACKEND_PORT}
    ports:
      - "${GATEWAY_PORT}:5921"
    depends_on:
      - backend
    networks:
      - private

networks:
  private:

volumes:
  mongo_data:
